POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
ConnectionStrings__DefaultConnection=Host=host.docker.internal;Port=5432;Database=ecommerce_db;Username=postgres;Password=sua_senha

JwtSettings__Secret=<GERAR COM: openssl rand -base64 64>
JwtSettings__Issuer=
JwtSettings__Audience=
JwtSettings__ExpiryMinutes=